<div class="content">
  <h1 class="title">{{ text }}</h1>
  <form class="formInput" (submit)="addTodo(textbox.value, $event)">
    <div class="formWraper">
      <input
        class="inputArea"
        type="text"
        #textbox
        (keyup.enter)="addTodo(textbox.value, $event)"
      />
      <button class="submitBtn">Submit</button>
    </div>
  </form>
  <div class="todoArea" *ngFor="let n of list; let indexOfelement = index">
    <div
      [ngClass]="{
        todo_normal: n.completed === false,
        todo_success: n.completed === true
      }"
    >
      <div class="textWrap">
        <p>{{n.text}}</p>
      </div>
      <div class="btnWrap">
        <button class="completed" (click)="changeStatus(indexOfelement)">
          {{ (n.completed === true ? "uncomplete" : "complete") }}
        </button>
        <button class="remove" (click)="removeTodo(indexOfelement)">
          remove
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
